.header {
    font-family: Inter, sans-serif;
    padding: 96px 0 77px;
    background-color: var(--white);
}

.header_inner {
    background-color: var(--background);
    padding: 24px 0 60px;
}

.header__title {
    margin-top: 0;
    margin-bottom: 40px;
    color: var(--black);
    font-size: 50px;
    font-weight: 500;
    line-height: 64px;
}
