.header {
    font-family: Inter, sans-serif;
    padding: 16px 0 0;
    background-color: var(--white);
}

.header_inner {
    background-color: var(--background);
    padding: 24px 0 60px;
}

.header__title {
    margin-top: 0;
    margin-bottom: 69px;
    color: var(--grey-4);
    font-weight: 400;
    font-size: 28px;
    line-height: 38px;
}

.header__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 48px;
}

@media screen and (min-width: 768px) {
    .header {
        padding: 24px 0 0;
    }

    .header__navigation {
        margin-bottom: 38px;
    }

    .header__title {
        margin-bottom: 77px;
        color: var(--black);
        font-size: 50px;
        font-weight: 500;
        line-height: 64px;
    }
}

