.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
}

.grid_inner {
    grid-template-columns: auto 1fr;
    column-gap: 56px;
}

@media screen and (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }

    .grid_inner {
        grid-template-columns: auto 1fr;
        column-gap: 56px;
    }
}
