.modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    max-width: 428px;
    width: 90%;
    padding: 30px 40px 33px;
    background-color: white;
    border-radius: 8px;
}

.modal__title {
    margin-top: 0;
    margin-bottom: 14px;
    color: #334D6E;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
}

.modal__content {
    color: var(--grey-4);
    font-size: 16px;
    line-height: 24px;
}

.modal__close {
    position: absolute;
    top: 12px;
    right: 12px;
    width: 16px;
    height: 16px;
    background-color: transparent;
    border: none;
    background-image: url("/assets/images/times.svg");
    background-repeat: no-repeat;
    background-position: center;
}

