.histogram {
    width: 100%;
    border: solid 1px var(--grey-3);
    border-radius: 8px;
    padding: 16px 24px 24px;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
}

.histogram__wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 39px;
}

.histogram__list {
    margin: 0;
}

.histogram__definition {
    color: var(--black);
    margin: 0;
    font-size: 20px;
    line-height: 26px;
    font-family: Inter, sans-serif;
    font-style: normal;
}

.histogram__term {
    color: var(--black);
    margin-bottom: 6px;
    font-family: Inter, sans-serif;
    font-style: normal;
}

.histogram__link {
    margin-top: 3px;
    text-decoration: none;
    color: var(--blue);
    font-family: Inter, sans-serif;
    font-style: normal;
}

.histogram__chart {
    display: flex;
    gap: 1px;
    height: 50px;
    align-items: flex-end;
}

.histogram__bar {
    background-color: var(--blue);
    flex-grow: 1;
}
