@import '../fonts/fonts.css';
@import '../../components/container/container.css';

:root {
    --primary-h: 228;
    --primary-s: 81%;
    --primary-b: 59%;
    --secondary-h: 255;
    --secondary-s: 78%;
    --secondary-b: 60%;

    --black: #212429;
    --white: #fff;

    --grey-1: #F8F9FA;
    --grey-2: #DDE2E5;
    --grey-3: #ACB5BD;
    --grey-4: #495057;

    /*--error: var(--red);*/
    /*--success: var(--blue);*/

    /*--primary: var(--blue);*/
    /*--secondary: var(--purple);*/
    /*--alternate: var(--white); */
}

* {
    font-family: 'Roboto', sans-serif;
}
