@import '../fonts/fonts.css';
@import "../../components/container/container.css";
@import '../../components/page/page.css';
@import "../../components/grid/grid.css";
@import "../../components/header/header.css";
@import "../../components/footer/footer.css";
@import "../../components/preview/preview.css";
@import "../../components/menu/menu.css";
@import '../../03-lection1/01-button/button.css';

:root {
    --primary-h: 228;
    --primary-s: 81%;
    --primary-b: 59%;
    --secondary-h: 255;
    --secondary-s: 78%;
    --secondary-b: 60%;

    --black: #212429;
    --white: #fff;
    --blue: #4263EB;

    --grey-1: #F8F9FA;
    --grey-2: #DDE2E5;
    --grey-3: #ACB5BD;
    --grey-4: #495057;
    --background: #F9FAFC;
    --notification: #D84910;

    /*--error: var(--red);*/
    /*--success: var(--blue);*/

    /*--primary: var(--blue);*/
    /*--secondary: var(--purple);*/
    /*--alternate: var(--white); */
}

body {
    font-family: 'Roboto', sans-serif;
}
