.radio__state {
    display: inline-flex;
    align-items: center;
    gap: 12px;
}

.radio__control {
    width: 28px;
    height: 28px;
    background: var(--white);
    border: 1px solid var(--grey-2);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.radio__label {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--grey-4);
}

.radio__input:checked ~ .radio__state
.radio__control {
    border-color: var(--blue);
    background: var(--white);
}

.radio__input:checked ~ .radio__state
.radio__icon {
    display: block;
    width: 18px;
    height: 18px;
    background-color: var(--blue);
    border-radius: 50%;
}

.radio__input {
    position: absolute;
    left: -100vw;
}

.radio__input:focus ~ .radio__state
.radio__label {
    text-decoration: underline;
}

.radio {
    position: relative;
}

.radio__input:disabled ~ .radio__state
.radio__control {
    border-color: var(--grey-2);
    background: var(--grey-2);
}

.radio__input:disabled ~ .radio__state
.radio__label {
    color: var(--grey-2);
}
