.skeleton {
    width: 579px;
    box-sizing: border-box;
    padding: 24px 40px 32px 24px;
    border: 1px #ACB5BD solid;
    border-radius: 8px;
}

.skeleton_gradient {
    background: linear-gradient(to left, #DDE2E5, #E2E6E8 20%, #F3F5F5 40%, #E3E7EA 60%, #DDE2E5 80%);
}

.person {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

.person__name {
    width: 172px;
    height: 20px;
    margin-bottom: 8px;
}

.person__intro {
    width: 257px;
    height: 20px;
    background-color: #7048E8;
}

.person__avatar {
    width: 64px;
    height: 64px;
    margin-right: 16px;
    border-radius: 50%;
    background-color: #DDE2E5;
    order: -1;
}

.skeleton__content {
    width: 515px;
    height: 20px;
    margin-bottom: 8px;
    background-color: #7048E8;
}

.skeleton__content:last-child {
    margin-bottom: 0;
}
