.component {
    padding: 32px 48px;
    background-color: var(--white);
    border-radius: 12px;
    box-shadow: 0px 2px 4px 0px #2124290D;
}

.component__title {
    margin-top: 0;
    margin-bottom: 32px;
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: var(--grey-4);
}

.component__div {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-right: 40px;
}

.component__div:last-child {
    margin-right: 0;
}

.component__grid {
    display: flex;
    margin-bottom: 52px;
}

@media  screen and (min-width: 768px) {
    .component__title {
        margin-bottom: 58px;
        font-size: 28px;
        line-height: 38px;
    }

    .component__grid {
        margin-bottom: 64px;
    }
}
