.component {
    padding: 32px 48px;
    background-color: var(--white);
    border-radius: 12px;
}

.component__title {
    margin-top: 0;
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: var(--grey-4);
}

@media  screen and (min-width: 768px) {
    .component__title {
        font-size: 28px;
        line-height: 38px;
    }
}
