.burger-menu {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(127, 127, 127, 0.5);
    transform: translateX(-100vw);
    transition: transform 250ms linear;
}

.burger-menu[data-open] {
    transform: translateX(0);
}

.burger-menu__top {
    display: flex;
    justify-content: space-between;
    padding: 16px 0;
}

.burger-icon {
    color: #D84910;
}

