.menu {
    font-family: Inter, sans-serif;
    display: grid;
    row-gap: 32px;
}

.menu__heading {
    margin-top: 0;
    margin-bottom: 16px;
    color: var(--grey-3);
    font-weight: 400;
    font-size: 20px;
    line-height: 26px
}

.menu__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.menu__item {
    margin-bottom: 16px;
}

.menu__link {
    color: var(--black);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.menu__link_active {
    color: var(--notification);
}

.menu__item:last-child {
    margin-bottom: 0;
}

@media screen and (min-width: 768px) {
    .menu__heading {
        color: #000;
    }

    .menu__link {
        font-size: 14px;
        line-height: 22px;
    }

    .menu__item {
        margin-bottom: 4px;
    }
}
