.menu {
    font-family: Inter, sans-serif;
    display: grid;
    grid-template-rows: repeat(3, auto);
    row-gap: 32px;
}

.menu__heading {
    margin-top: 0;
    margin-bottom: 16px;
    color: black;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px
}

.menu__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.menu__link {
    display: block;
    margin-bottom: 4px;
    color: var(--black);
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
}

.menu__link_active {
    color: var(--notification);
}

.menu__link:last-child {
    margin-bottom: 0;
}
