/**, *::before, *::after {*/
/*    box-sizing: border-box;*/
/*}*/

input[type="text"] {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 17px 24px 13px;
    border: 1px solid var(--grey-2);
    border-radius: 8px;
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    color: var(--grey-2);
}

.field__title {
    display: block;
    margin-bottom: 5px;
    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    color: var(--grey-3);
    text-transform: uppercase;
    letter-spacing: 1px;
}

input[type="text"]:focus {
    color: var(--grey-4);
    border-color: var(--blue);
    outline: 0;
}
