.field__wrapper {
    position: relative;
}

.field__input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 16px 24px 12px;
    border: 1px solid var(--grey-2);
    border-radius: 8px;
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    color: var(--grey-2);
}

.field__label {
    display: block;
    margin-bottom: 5px;
    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    color: var(--grey-3);
    text-transform: uppercase;
    letter-spacing: 1px;
}

.field__input:focus {
    color: var(--grey-4);
    border-color: var(--blue);
    outline: 0;
}

.field__icon {
    display: none;
    position: absolute;
    right: 24px;
    top: 50%;
    transform: translateY(-50%);
}

.field__icon_success {
    color: var(--blue);
}

.field_invalid .field__input {
    color: var(--grey-4);
    border: 1px solid var(--error);
}

.field_success .field__input {
    color: var(--grey-4);
}

.field__icon_invalid {
    color: var(--error);
}

.field_invalid .field__icon {
    display: block;
}

.field_success .field__icon {
    display: block;
}
